<header id='navbar-1'>
  <nav id='navbar' class="navbar navbar-expand-md navbar-dark bg-success">
    <a id="navbar-brand" href="/urls">TinyApp</a>
    
    <div class="collapse navbar-collapse" id="navbar-links">
      <div id='navbar-nave'class="navbar-nav">
        <a class="nav-links-item" href="/urls">My URLs</a>
        <a class="nav-links-item" href="/urls/new">Create New URL</a>
        
        <% if (!user) { %>
          <a class="nav-links-item" href="/login">Login</a> 
          <a class="nav-links-item" href="/register">Register</a>
          
        <% } else { %>
          <form id='form-logout' class="form-inline ml-auto" action="/logout" method="POST">
            <div class="form-group mb-2">
              <label for='user_id' style=" margin: 1em">Logged in as: <%= user.email %>!</label>
              <button id='logout-btn'type="submit" class="btn btn-outline-dark">Logout</button>
            </div>
          </form>
          <% } %>
      </div>
    </div>
  </nav>
</header>