@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


html {
  box-sizing: border-box;
  height: 100%;
  font-family: 'Play', sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#navbar-1 {
  display: flex;
  background-color: rgba(52, 53, 110, 0.4);
  overflow: hidden;
  top:0;
  position: absolute;
  width: 100%;
  font-family: 'Quattrocento Sans', sans-serif;
  padding: 5px;
  margin-left: -4;
  color: aliceblue;
}

#navbar {
  display: flex;
  font-family: 'Play', sans-serif;
  justify-content: space-between;
  padding: 15px;
}
#navbar-brand{
  font-size: 24px;
  font-weight: bolder;
  padding-right: 10px;
}

#navbar-links {
  display: flex;
  align-content: flex-end;
  padding-left: 25px;
  padding-top: 8px;
}

.nav-links-item {
  padding-right: 15px;
}

a:any-link {
  color:cornflowerblue;
  text-decoration: none;
}

#logout-btn {
  background-color: rgba(52, 53, 110, 0.8);
  color: aliceblue;
  font-family: 'Play', sans-serif;
  border-radius: 0.5rem;
  padding:5px
}

#body-all {
width: 100%;
background-color: rgb(255, 255, 255);
margin: 0px;
height: 100%;
background-image: url('../assets/home-tiny.jpeg');
}
#body-content {
  font-size: 20px;
  color:lawngreen;
}
#content {
display:flex; 
color: rgb(151, 82, 82);
font-size: 24px;
height: 100%;

}

#box-home {
  display:flex;
  width: 100%;
  
}

#trapezio {
  width:30%;
  height: 70%;
  background-color: rgb(71, 5, 5, 0.8);
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  padding-top: 4cm;
  padding-left: 1.5cm;
  padding-right: 1cm;
  border-top-right-radius: 150rem;
  border-bottom-right-radius: 150rem;
}
#new-urls {
  margin-top: 20%;
  margin-left: 25%;
  padding:20px;
  background-color: rgba(2, 13, 34, 0.76);
  box-shadow:3px 6px 10px 3px rgba(0, 0, 0, 0.5); 
  width: fit-content;
  height: fit-content;
  color:rgb(100, 237, 111);
  font-size: 40px;
  border-radius: 3rem;
}

#my-urls {
  margin-top: 6rem;
  padding-left: 45px;
  background-color: rgb(71, 5, 5, 0.9);
  width: 100%;
  height: fit-content;
}

table {
  width: 90%;
  margin: auto;
  text-align: justify;
}

th {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em;
  
}

td {
  font-size: 24px;
  /* text-transform: uppercase; */
  font-weight: 300;
  padding: 1em;
  color:cornflowerblue;
}
#navbar-nave {
  display: flex;
}



#register-form {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top:15%;
}
#register-card {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 43%;
  padding:8px;

  background-color: rgb(71, 5, 5, 0.8);
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  border-radius: 1rem;
  color:cornflowerblue;
  box-sizing: content-box;
}
#login-card {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 40%;
  margin-right: 43%;
  padding:8px;

  background-color: rgb(71, 5, 5, 0.8);
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  border-radius: 1rem;
  color:cornflowerblue;
  box-sizing: content-box;
}
#register {
  padding-left: 18%;
  font-size: 34px;
  
}

#register-form-box {
  display: block;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-bottom: 10px;
}
#login-form-box {
  display: block;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-bottom: 10px;
}
#input-form {
  padding: 2px;
  margin: 9px;
  border-radius: 0.5rem;
}

#register-btn {
  background-color: rgb(151, 82, 82);
  box-shadow: 3px 6px 10px 3px rgba(0, 0, 0, 0.5); /* this adds the "card" effect */
  color:cornflowerblue;
  border-radius: 0.5rem;
  border-color: none;
  padding: 4px;
  font-family: 'Quattrocento Sans', sans-serif;
}